.serie-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-top: 50px;
}
.serie-card{
  flex: 1 0 20%;
  padding: 10px;
  border-radius: 25px;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
}
.serie-header{

}

img {
  width: 250px;

}